<div [ngSwitch]="formActivated">
  <app-login *ngSwitchCase="login" [loading]="loading" (attemptLogin)="onAttemptLogin($event)"
             (attemptSignUp)="formActivated = logUp"></app-login>
  <app-log-up *ngSwitchCase="logUp" [loading]="loading" (attemptLogUp)="onAttemptLogUp($event)"></app-log-up>
</div>
