<div class="table-responsive">
  <table class="table m-0">
    <thead class="text-white">
    <tr>
      <th scope="col" class="first">IMAGEN</th>
      <th scope="col">URL</th>
      <th scope="col">SITIO</th>
      <th scope="col">ESTATUS</th>
      <th scope="col" class="last">CONFIANZA</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of data?.data?.fullMatchingImages" [app-file-row]="item">
    </tbody>
    <tbody>
    <tr class="text-white text-center">
      <td colspan="5" *ngIf="data?.data?.partialMatchingImages">
        <strong>Coincidencias Parciales</strong>
      </td>
    </tr>
    </tbody>
    <tbody *ngFor="let item of data?.data?.partialMatchingImages; let last = last" [app-file-row]="item"
           [lastItem]="last">
    </tbody>
  </table>
</div>
