<tr [ngClass]="{last : lastItem}">
  <th scope="row"><img class="img-fluid logo xl" [src]="data?.url"></th>
  <td>
    <a [href]="data?.url" target="_blank">{{data?.url | slice:0:stringMaxLength}}</a>
  </td>
  <td>
    <a [href]="data?.url" target="_blank">{{data?.url | slice:0:stringMaxLength}}</a>
  </td>
  <td class="td-to-content"
      [ngClass]="{'text-secondary': data?.listType.includes('grayList'),
      'text-success': data?.listType.includes('whiteList'),
      'text-danger':  data?.listType.includes('blackList')}">
    <strong>{{data?.listType}}</strong>
  </td>
  <td>{{data?.score}}</td>
</tr>{{lastItem}}
