@import "~src/assets/styles/app-variables";

tr {
  border-left: 2px solid $primary;
  border-right: 2px solid $primary;
}

.last {
  border-right: 2px solid $primary;
  border-left: 2px solid $primary;
  border-bottom: 2px solid $primary;
}
