<div class="row">
  <app-activity-button title="Imágenes escaneadas"></app-activity-button>
  <app-activity-button title="Textos analizados"></app-activity-button>
  <app-activity-button title="Proyectos publicados"></app-activity-button>
</div>
<div class="row">
  <app-activity-button title="Créditos actuales" bgColor="#446594" textColor="white"></app-activity-button>
  <app-activity-button title="Créditos usados en el mes" bgColor="#738caf" textColor="white"></app-activity-button>
</div>
