<div class="modal-header">
  <button type="button" class="close py-2" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center">¿Confirma que desea {{action}}?</p>
  <div class="d-flex justify-content-around m-xl-5">
    <button type="button" class="btn btn-success px-4" (click)="onConfirm($event)" autofocus="autofocus">Si</button>
    <button type="button" class="btn btn-danger px-3" (click)="onReject($event)">No</button>
  </div>
</div>
