<app-layout [username]="user?.displayName" [email]="user?.email" [credits]="credits | async" context="self"
            [templateOutlet]="board"
            [selectedScreen]="view | async" [loading]="loading" (logout)="onLogout()"
            (changeSelectedScreen)="onChangeSelectedScreen($event)"
            (goBack)="onGoBack()" (openCreditsRequestModal)="onOpenCreditsRequestModal()"></app-layout>
<ng-template #board>
  <router-outlet></router-outlet>
</ng-template>
