<div class="justify-content-center d-flex mt-4">
  <app-file-chooser-drag-n-drop [accept]="['png','jpg', 'jpeg']" [loading]="loading" [chooserError]="chooserError"
                                (chooseFile)="onChooseFile($event)"></app-file-chooser-drag-n-drop>
</div>
<app-file-carousel [images]="images | async" (deleteFile)="onDelete($event)" [selected]="selectedImageIndex"
                   (selectedFile)="onChooseImage($event)"></app-file-carousel>
<div class="justify-content-center d-flex mb-3">
  <div class="vw-80">
    <app-file-table [data]="selectedImage | async"></app-file-table>
    <button class="btn btn-clear" *ngIf="false" (click)="onClear()"><strong>Eliminar</strong></button>
    <button class="btn btn-save" *ngIf="selectedImage | async" (click)="onSave()"><strong>Guardar</strong></button>
  </div>
</div>
