@import "~src/assets/styles/app-variables";

$btn-padding: 0.5rem;

$default-radius: 0.45rem;

.btn-save {
  color: #fff;
  background-color: $btn-login;
  border-radius: 0 0 $default-radius $default-radius; // tr tl br bl
  border-color: $btn-login;
  width: 100%; // TODO 50%
  padding: $btn-padding;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  :focus, &.focus {
    background-color: $btn-login-hover;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $btn-login-hover;
  }
}

.btn-clear {
  color: #fff;
  background-color: $danger;
  border-radius: 0 0 0 0.45rem;
  border-color: $danger;
  width: 50%;
  padding: $btn-padding;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    background-color: $danger-hover;
    border-color: $danger-border;
  }

  :focus, &.focus {
    background-color: $danger-focus;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $danger-not;
    border-color: $danger-not;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $danger-hover;
  }
}
