@import "~src/assets/styles/app-variables";

.input-group-append {
  color: $primary !important;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  border-right: 1px solid $primary;
  &.active, &.focus, &:active, &:focus, &.hover, &:hover {
    color: #426F95;
  }
  &.disabled {
    color: $primary !important;
  }
}

input {
  max-width: 67.6vw !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-right: 0 !important;
}

.align-content-center {
  flex-wrap: wrap;
}

.badge {
  border-radius: 0.5em;
  background-color: #8eb1c4;
}

.forms {
  max-width: 70vw !important;
}
