<div class="mt-3">
  <div class="input-group forms mx-auto" [formGroup]="form" [ngClass]="{disabled: form?.status != 'VALID'}">
    <input class="form-control" type="text" [placeholder]="placeHolder ? placeHolder : 'Chips'"
           formControlName="chipInput" (keydown.enter)="form.status == 'VALID' ? onAddedChip() : ''">
    <div class="input-group-append" (click)="form.status == 'VALID' ? onAddedChip() : ''"
         [ngClass]="{disabled: form?.status != 'VALID'}">
      <fa-icon [icon]="add" [fixedWidth]="true" class="m-auto" size="2x"></fa-icon>
    </div>
  </div>
</div>
<div style="width:64vw" class="mx-auto">
  <div>
    <app-chip *ngFor="let chip of chips; index as index" [text]="chip" [index]="index"
              (deleteChip)="onDeleteChip($event)"></app-chip>
  </div>
</div>
