<div class="activity-button" [style.background-color]="bgColor"
     (mouseover)="activated = true" (mouseout)="activated = false"
     [ngClass]="{active: selected || activated}">
  <div [ngClass]="{'d-none': activated}" [style.color]="textColor">
    <p class="text-center">{{title}}</p>
    <h1><strong>{{value}}</strong></h1>
  </div>
  <img src="../../../assets/images/icons/download.svg"
       [ngClass]="{'d-block': activated, 'd-none': !activated}">
</div>
