.activity-button {
  width: auto;
  margin: 1rem;
  border-radius: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;

  &:hover, &.hover, &.active {
    background-color: #e69635 !important;
  }

  @media (max-width: 425px) {
    .activity-button {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }
}

h1 {
  font-size: 4rem !important;
}

p {
  font-size: 1rem !important;
}

p, h1 {
  text-align: center !important;
}

img {
  height: 120px;
  margin: auto;
  padding: 2rem !important;
}
