@import "~src/assets/styles/app-variables";

label {
  color: $primary;
}

.justify-content-center {
  display: grid;
}

.news {
  label {
    width: 100%;
    background-color: $primary;
    color: white;
    margin: 0;
    padding: 0.05rem;
    border-top-right-radius: 0.45rem;
    border-top-left-radius: 0.45rem;
  }
  textarea {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
