<div class="justify-content-center" [formGroup]="form">
  <div class="form-group forms news">
    <label for="news" class="pl-2">Texto verificado</label>
    <textarea id="news" class="form-control" formControlName="news"></textarea>
  </div>
  <div class="col">
    <app-file-carousel [images]="images" (deleteFile)="onDelete($event)"
                       [selected]="selectedImageIndex"></app-file-carousel>
  </div>
  <div class="form-group forms">
    <label for="url"><strong>URL personalizado</strong></label>
    <input id="url" class="form-control" placeholder="https://" formControlName="url">
  </div>
  <div class="row justify-content-around">
    <button class="btn btn-danger" *ngIf="!isEmpty(news)" (click)="clearNews()">Limpiar</button>
    <button class="btn btn-true-words-secondary" (click)="onPublish()">Publicar</button>
  </div>
</div>
