@import "~src/assets/styles/app-variables";

.text-sign-up {
  color: $primary !important;
}

.login-img {
  img {
    @media (min-width: 426px) {
      width: 100%;
      height: 100vh;
    }
    @media (max-width: 425px) {
      width: 100vw;
    }
  }
}

@media (max-width: 425px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form {
  @media (min-width: 426px) {
    overflow: auto;
    height: 100vh;
  }
}

br {
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 7rem;
  }
  @media (max-width: 425px) {
    display: none;
  }
}
