<div class="row">
  <div class="col-lg-8 col-md-6 col-sm p-0 login-img">
    <img src="../../../assets/images/signup.png">
  </div>
  <div class="col-lg-4 col-md-6 col-sm sign-up py-5 px-5 align-content-center form" [formGroup]="form">
    <br>
    <h1 class="text-sign-up">Regístrate</h1>
    <div class="form-group mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Nombre" autocomplete="name"
             formControlName="name">
    </div>
    <div class="form-group mb-3">
      <input type="text" class="form-control" placeholder="Apellido" autocomplete="family-name"
             formControlName="firstLastName">
    </div>
    <div class="form-group mb-3">
      <input type="text" class="form-control" placeholder="Usuario" aria-describedby="username"
             formControlName="username">
    </div>
    <div class="form-group mb-3">
      <input type="email" class="form-control" placeholder="Email" autocomplete="email"
             formControlName="email">
    </div>
    <label class="text-danger"
           *ngIf="this.form.controls?.email.errors?.required && this.form.controls?.email.touched">
      <strong>El email es requerido</strong>
    </label>
    <label class="text-danger" *ngIf="this.form.controls?.email.errors?.email">
      <strong>El email no es valido</strong>
    </label>
    <div class="form-group mb-3">
      <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
             formControlName="password">
    </div>
    <label class="text-danger" *ngIf="this.form.controls?.password.errors?.minlength">
      <strong>La contraseña es demasiado corta</strong>
    </label>
    <label class="text-danger"
           *ngIf="this.form.controls?.password.errors?.required && this.form.controls?.password.touched">
      <strong>La contraseña es requerida</strong>
    </label>
    <div class="form-group mb-3">
      <input type="password" class="form-control" placeholder="Confirm Password" autocomplete="current-password"
             formControlName="confirmPassword">
    </div>
    <label class="text-danger" *ngIf="this.form.errors?.matchPassword && this.form.controls?.password.touched
     && this.form.controls?.confirmPassword.touched">
      <strong>Las contraseñas no coinciden</strong>
      <label class="text-danger" *ngIf="this.form.controls?.password.errors?.required && this.form.controls?.password.touched">
      <strong>La contraseña es requerida</strong>
    </label>
    </label>
    <div class="form-group mb-3">
      <input type="text" class="form-control" placeholder="Compañia" aria-describedby="company"
             formControlName="company">
    </div>
    <button type="button" class="btn btn-sign-up my-xl-5" [disabled]="loading || form.status != 'VALID'">
      <span *ngIf="!loading" (click)="onAttemptLogUp()">Crea tu cuenta</span>
      <span *ngIf="loading"><fa-icon [icon]="loadingIcon" [spin]="true"></fa-icon></span>
    </button>
  </div>
</div>
