@import "~src/assets/styles/app-variables";

.d-flex:not(.buttons) {
  flex-direction: column;
}

.btn-tw {
  color: #fff;
  background-color: $btn-sign-up;
  border-radius: 0.45rem;
  border-color: $btn-sign-up;
  padding: 0.75rem;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }
  :focus, &.focus {
    background-color: $btn-sign-up-hover;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $btn-sign-up-hover;
  }
}
