<div class="justify-content-center d-flex mt-4 forms" [formGroup]="form">
  <app-editor formControlName="text"></app-editor>
  <div class="form-group mx-auto mt-3">
    <input class="form-control" type="text" placeholder="Description" formControlName="description">
  </div>
  <app-chips-input placeHolder="Tags" formControlName="tags"></app-chips-input>
</div>
<app-file-carousel [images]="images | async" (deleteFile)="onDelete($event)"
                   [selected]="selectedImageIndex"></app-file-carousel>
<div class="justify-content-md-around justify-content-center d-flex my-4 buttons">
  <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
  <button class="btn btn-outline-success" [disabled]="valid" (click)="onValidate()">
    <span *ngIf="!valid">Validar</span>
    <span *ngIf="valid">Validado <fa-icon [icon]="success"></fa-icon></span>
  </button>
  <button class="btn btn-tw text-white" (click)="onSave()" [disabled]="form.status != 'VALID'">Guardar</button>
</div>
