<div class="modal-body">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Close')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="mx-4">
    <h3 class="mb-5 mt-3">Ingresa la cantidad de créditos que deseas solicitar</h3>
    <div class="input-group" [formGroup]="form">
      <div class="input-group-prepend">
        <button class="btn btn-true-words-outline-primary" type="button" (click)="less()">
          <fa-icon [icon]="minus"></fa-icon>
        </button>
      </div>
      <input type="number" class="form-control" formControlName="credits">
      <div class="input-group-append">
        <button class="btn btn-true-words-outline-primary" type="button" (click)="more()">
          <fa-icon [icon]="plus"></fa-icon>
        </button>
      </div>
    </div>
    <button class="btn btn-true-words-outline-secondary text-capitalize mb-3 mt-5 p-2" (click)="request()">Solicitar</button>
  </div>
</div>
