@import "~src/assets/styles/app-variables";

.modal-body {
  border-radius: .5rem;
}

.input-group-prepend {
  background-color: white;
}

input {
  border: 1px solid $btn-sign-up;
}

h3 {
  color: $primary;
  text-align: center;
}
