<div class="row">
  <div class="col-lg-4 col-md-6 col-sm login py-5 px-5 align-content-center" [formGroup]="form">
    <h1 class="text-white">Inicia sesión</h1>
    <br>
    <label class="input-group mb-3">
      <img src="../../../assets/images/icons/user.svg">
      <input class="form-control" placeholder="Usuario o correo electrónico" type="email"
             autocomplete="email" formControlName="email">
    </label>
    <label class="text-danger"
           *ngIf="this.form.controls?.email.errors?.required && this.form.controls?.email.touched">
      <strong>El email es requerido</strong>
    </label>
    <label class="text-danger" *ngIf="this.form.controls?.email.errors?.email">
      <strong>El email no es valido</strong>
    </label>
    <label class="input-group mt-3 mb-3">
      <img src="../../../assets/images/icons/password.svg">
      <input class="form-control" placeholder="Contraseña" type="password"
             autocomplete="password" formControlName="password" (keypress.enter)="onAttemptLogin()">
    </label>
    <label class="text-danger" *ngIf="this.form.controls?.password.errors?.minlength">
      <strong>La contraseña es demasiado corta</strong>
    </label>
    <label class="text-danger"
           *ngIf="this.form.controls?.password.errors?.required && this.form.controls?.password.touched">
      <strong>La contraseña es requerida</strong>
    </label>
    <a href="">¿Olvidaste tu contraseña?</a>
    <button type="button" class="btn btn-login my-xl-5 mt-3"
            (click)="!loading || form.status == 'VALID' ? onAttemptLogin() : ''"
            [disabled]="loading || form.status != 'VALID'">
      <span *ngIf="!loading">Iniciar Sesión</span>
      <span *ngIf="loading"><fa-icon [icon]="loadingIcon" [spin]="true"></fa-icon></span>
    </button>
    <p class="text-white mt-5">¿No tienes cuenta? <a (click)="onAttemptSignUp()">Registrate aquí</a></p>
  </div>
  <div class="col-lg-8 col-md-6 col-sm p-0 login-img">
    <img src="../../../assets/images/signin.png">
  </div>
</div>
