@import "~src/assets/styles/app-variables";

.login {
  background-color: $primary;
}

.login-img {
  img {
    @media (min-width: 426px) {
      width: 100%;
      height: 100vh;
    }
    @media (max-width: 425px) {
      width: 100vw;
    }
  }
}

.input-group, .form-group {
  img {
    height: 38px;
  }
}

@media (max-width: 425px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
}

a:hover {
  text-decoration: underline !important;
}
