<div class="row">
  <div class="col-1" appLongClick (longClick)="onPrev()">
    <fa-icon [icon]="arrowLeft" size="6x" *ngIf="this.stageWidth > stageWidthF && this.positionX < 0"
             class="prev"></fa-icon>
  </div>
  <div class="col-10">
    <div class="carousel-root loaded drag">
      <div class="carousel-stage-outer" #stageOuter>
        <div class="carousel-stage" appDrag [style.width.px]="stageWidth"
             [ngStyle]="{transform: 'translateX('+positionX+'px)'}" (dragOnX)="onDragOnX($event)">
          <div class="carousel-stage-size-fix" #stageSF>
            <div class="app-carousel-item mx-1" app-file-carousel-item
                 *ngFor="let image of images; index as index;"
                 [image]="image" [index]="index" [selected]="selected" (itemSelected)="onClick($event)"
                 (delete)="onDeleteItem($event)" (cardSize)="onChangeSize()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1" appLongClick (longClick)="onNext()">
    <fa-icon [icon]="arrowRight" size="6x"
             *ngIf="this.stageWidth > stageWidthF && this.positionX > this.stageOuterWidth - this.stageWidthF"
             class="next"></fa-icon>
  </div>
</div>
