.carousel-root {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;

  .carousel-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; /* fix firefox animation glitch */
  }

  .carousel-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .carousel-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .carousel-stage-size-fix {
    display: inline-block !important;
  }

  .app-carousel-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  &.loaded {
    display: block;
  }

  &.loading {
    opacity: 0;
    display: block;
  }

  &.hidden {
    opacity: 0;
  }

  &.refresh .app-carousel-item {
    visibility: hidden;
  }

  &.drag .app-carousel-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &.drag {
    cursor: move;
  }
}

.next, .prev {
  cursor: pointer;
  color: #0087F7;
  &:active, &.active, &:hover, .hover {
    color: rgba(0, 136, 255, 0.66);
  }
}
