/* You can add global styles to this file, and also import other style files */
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~pretty-checkbox/src/scss/variables';
@import '~pretty-checkbox/src/scss/core';
@import '~pretty-checkbox/src/scss/elements/default/fill';
@import '~pretty-checkbox/src/scss/elements/default/outline';
@import '~pretty-checkbox/src/scss/elements/default/thick';
@import '~pretty-checkbox/src/scss/elements/font-icon/general';
@import '~pretty-checkbox/src/scss/elements/svg/general';
@import '~pretty-checkbox/src/scss/elements/image/general';
@import '~pretty-checkbox/src/scss/elements/switch/general';
@import '~pretty-checkbox/src/scss/elements/switch/fill';
@import '~pretty-checkbox/src/scss/elements/switch/slim';
@import '~pretty-checkbox/src/scss/extras/toggle';
@import '~pretty-checkbox/src/scss/extras/plain';
@import '~pretty-checkbox/src/scss/extras/round';
@import '~pretty-checkbox/src/scss/extras/curve';
@import '~pretty-checkbox/src/scss/extras/animation';
@import '~pretty-checkbox/src/scss/extras/disabled';
@import '~pretty-checkbox/src/scss/extras/locked';
@import '~pretty-checkbox/src/scss/extras/colors';
@import '~pretty-checkbox/src/scss/extras/print';
@import '~pretty-checkbox/src/scss/states/hover';
@import '~pretty-checkbox/src/scss/states/focus';
@import '~pretty-checkbox/src/scss/states/indeterminate';
// regular style toast
@import '~ngx-toastr/toastr.css';
// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// App
@import "assets/styles/app-variables";

h1 {
  font-family: Raleway;
  font-size: 30px;
  // font-style: normal;
  // font-variant: normal;
  font-weight: bold;
  // line-height: 26px;
}

h3 {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15px;
}

p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18px;
}

.login {
  @media (min-width: 426px) {
    height: 100vh;
  }
}

$bg-blue: linear-gradient(rgba(0, 73, 133, 0.84) 20%, rgb(1, 64, 116) 80%);
$bg-green: linear-gradient(rgb(123, 158, 22) 50%, rgb(149, 182, 52) 50%);

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.login-primary {
  color: #fff;
  background: linear-gradient(rgb(135, 170, 198) 20%, rgb(134, 164, 189) 80%);
  &:active, &.active, &:hover, &.hover {
    background: $bg-blue !important;
  }
}

.login-success {
  color: #fff;
  background: $bg-green;
  &:active, &.active, &:hover, &.hover {
    background: linear-gradient(rgb(144, 185, 27) 50%, rgb(161, 195, 55) 50%) !important;
  }
  &:disabled, &.disabled {
    background: $bg-green !important;
  }
}

.bg-gradient-primary {
  background: $bg-blue;
}

.bg-gradient-success {
  background: $bg-green;
}

.app-login, .app-log-up {
  background: rgba(0, 0, 0, 0.5);
}

.profile-picture {
  max-height: 175px;
  &.sm {
    max-height: 50px;
  }
}

.input-group-prepend {
  background: #dbdbdb;
  color: #004989;
}

.badge-login {
  color: #fff !important;
  background-color: #004a86;
  cursor: pointer;
}

.logo {
  max-height: 150px;
  max-width: 150px;
  &.sm {
    max-height: 125px;
    max-width: 125px;
  }
  &.xl {
    max-height: 200px;
    max-width: 200px;
    &.active {
      max-height: 225px;
      max-width: 225px;
    }
  }
}

.font-size-20 {
  font-size: 24px;
}

.border-dashed {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: #f2f2f2;
  &.active {
    border: 2px solid #0087F7;
    color: #0087f7;
  }
}

.d-square {
  &.h {
    width: 100vh;
  }
  &.v {
    height: 100vw;
  }
}

.vw-80 {
  width: 80vw !important;
}

.td-to-content {
  width: 100%;
}

.disable-scroll {
  overflow: hidden;
}

.modal-content {
  background-color: #0000 !important;
  border-color: #0000 !important;
}

.modal-body {
  background-color: white;
}

.modal-header {
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
}

.dropdown-menu {
  opacity: 0.85;
}

.text-true-words {
  color: $primary;
}

.bg-true-words {
  background-color: $primary;
}

.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover, &:focus, &:active {
    color: white;
  }
  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.model-dialog {
  border-radius: .5rem !important;
  background-color: white !important;
}
