@import "~src/assets/styles/app-variables";

:host > div.drop-file {
  border-radius: 5px;
  background: #dce2eb;
  color: $primary;
  &.active {
    border: 2px solid #008cff;
    color: #008cff;
  }
  &.error {
    border: 2px solid #f70400;
    color: #f70400;
  }
  &.loading {
    border: 2px solid #008cff;
    color: #008cff;
  }
}

.drop-file-container {
  width: 70vw;
  height: 40vh;
}
