<div class="justify-content-center d-inline-block p-5 pointer drop-file"
     (drop)="onDrop($event)"
     (dragenter)="onDragEnter($event)"
     (dragleave)="onDragLeave($event)"
     (dragover)="onDragOver($event)"
     (click)="file.click()"
     [ngClass]="{active: active, error: error, loading: loading, error: chooserError}">
  <div class="text-center drop-file-container" style="position: relative">
    <fa-icon [icon]="plus" size="10x" [fixedWidth]="true" [styles]="{position: 'absolute',
                 top: 'calc(30% - 24px)', left: 'calc(40% - 24px)'}" *ngIf="!loading"></fa-icon>
    <fa-icon [icon]="loadingIcon" size="10x" [spin]="true" [fixedWidth]="true" [styles]="{position: 'absolute',
                 top: 'calc(30% - 24px)', left: 'calc(40% - 24px)'}" *ngIf="loading"></fa-icon>
    <input #file [accept]="accept" (change)="onSelected($event.target.files[0])" [hidden]="true" type="file">
  </div>
</div>
