<div class="modal-body pt-4 px-4">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Close')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="mx-4 py-4">
    <h3 class="mb-5 mt-3 primary text-center"><strong>¡Has solicitado {{credits}} creditos!</strong></h3>
    <div></div>
    <button class="btn btn-true-words-primary text-capitalize mb-3 mt-5 p-2" (click)="activeModal.close()">Aceptar
    </button>
  </div>
</div>
