$bg: #cfcfcf;
$default-radius: 1rem;

.editor-container {
  width: 70vw;
  height: 100%;
}

.form-control {
  width: 70vw;
  height: 100%;
  border-radius: $default-radius;
  min-height: 243px;
  font-weight: bold;
}

hr {
  border-top: 1px solid rgb(142, 142, 142);
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
