<div class="editor-container row mx-auto forms">
  <div class="form-group col p-0 m-0" [formGroup]="form">
    <textarea class="form-control" rows="3" formControlName="editor"
              [placeholder]="placeHolder"></textarea>
  </div>
</div>
