$primary: #173d79;
$btn-login: #e59735;
$btn-login-hover: #bf7732;
$btn-login-hover-border: #b06931;
$btn-sign-up: #173d79;
$btn-sign-up-hover: #133263;
$btn-sign-up-hover-border: #0f2a53;
$danger: #dc3545;
$danger-focus: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
$danger-not: #bd2130;
$danger-hover: #c82333;
$danger-border: #b21f2d;
