$bg-base: #6b6768;
$bg-active: #cfcfcf;

.form-control, .form-group {
  width: 64vw;
  border-radius: 2rem;
  background-color: $bg-base;
  font-weight: bold;
  color: white !important;
  &.active, &.focus, &:active, &:focus {
    background-color: $bg-active;
  }
  &.disabled {
    background-color: $bg-base !important;
  }
}

.input-group {
  width: 64vw;
  border-radius: 2rem;
  background-color: $bg-base;
  font-weight: bold;
  color: white !important;
  &.active, &.focus, &:active, &:focus {
    background-color: $bg-active;
  }
  .form-control {
    width: 60vw;
  }
  .input-group-append, .input-group-prepend {
    width: 4vw;
  }
  &.disabled {
    background-color: $bg-base !important;
  }
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder /* Microsoft Edge */
{
  color: white;
}
