@import "~src/assets/styles/app-variables";

.header {
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.center {
  position: relative;
  top: 40%;
}

.col-0-5 {
  flex: 0 0;
}

.has-action {
  cursor: pointer;
}

.profile {
  width: 342px !important;
}

.content {
  padding-top: 158px;
  background-size: contain;
  height: 100%;
  width: 100vw;
}

.btn-header {
  background-color: $primary;
  color: white;
  border-radius: 1rem;
  &:focus, &.focus, &:active, &.active, &:hover, &.hover {
    background-color: white;
    color: $primary;
  }
}

.btn-outline-primary {
  border: 0;
  border-radius: 1rem;
  color: $primary !important;
  &:focus, &.focus, &:active, &.active, &:hover, &.hover {
    color: white !important;
    background-color: $primary !important;
  }
}
