@import "app-variables";

.login {
  .form-control {
    background-color: $primary;
    color: white;
    border-bottom-color: white;
    border-top-color: white;
    border-left: white;
    height: 50px;
    padding-left: 0;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;

    &:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .input-group {
    img {
      height: 50px;
      padding: 0.75rem 0 0.75rem 0.25rem;
      border-top-left-radius: 0.45rem;
      border-bottom-left-radius: 0.45rem;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      border-left: 1px solid white;
    }
  }

  a {
    color: white;
    cursor: pointer;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
}

.sign-up {
  .form-control {
    background-color: white;
    color: $primary;
    border-color: $primary;
    height: 50px;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    &:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary;
  }
}

.btn-login {
  color: #fff;
  background-color: $btn-login;
  border-radius: 0.45rem;
  border-color: $btn-login;
  width: 100%;
  padding: 0.75rem;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }
  :focus, &.focus {
    background-color: $btn-login-hover;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $btn-login-hover;
  }
}

.btn-sign-up {
  color: #fff;
  background-color: $btn-sign-up;
  border-radius: 0.45rem;
  border-color: $btn-sign-up;
  width: 100%;
  padding: 0.75rem;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }
  :focus, &.focus {
    background-color: $btn-sign-up-hover;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $btn-sign-up-hover;
  }
}

.align-content-center {
  display: grid !important;
}

.forms {
  input, textarea {
    background-color: white;
    color: $primary;
    border-color: $primary;
    height: 50px;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    width: 70vw !important;
    &:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary;
  }
}
