@import "app-variables";

.btn-true-words-primary, .btn-true-words-outline-primary {
  color: #fff;
  border-color: $btn-sign-up;
  background-color: $btn-sign-up;
  border-radius: 0.45rem;
  width: 100%;
  &:hover {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }
  :focus, &.focus {
    background-color: $btn-sign-up-hover;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $btn-sign-up-hover;
    border-color: $btn-sign-up-hover-border;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $btn-sign-up-hover;
  }
}

.btn-true-words-outline-primary {
  color: $btn-sign-up;
  background-color: #fff;
  border-color: $btn-sign-up;
}

.btn-true-words-secondary, .btn-true-words-outline-secondary {
  color: #fff;
  border-color: $btn-login;
  background-color: $btn-login;
  border-radius: 0.45rem;
  // width: 100%;
  &:hover {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }
  :focus, &.focus {
    background-color: $btn-login-hover;
  }

  &.disabled, &:disabled {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    background-color: $btn-login-hover;
    border-color: $btn-login-hover-border;
  }

  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    background-color: $btn-login-hover;
  }
}

.btn-true-words-outline-secondary {
  color: $btn-login;
  border-color: $btn-login;
  background-color: #fff;
}
