.pointer {
  cursor: pointer;
}

$dropdown-min-width: 200px;

.dropdown {
  @media (min-width: 425px) {
    position: relative;
    display: inline-block;
    min-width: $dropdown-min-width;
    border-left: 2px solid #004a86;
    margin-left: 1rem !important;
  }
}

.dropdown-content {
  display: none;
  @media (min-width: 425px) {
    position: absolute;
    background-color: #f9f9f9;
    min-width: $dropdown-min-width;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  & p {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    span {
      cursor: pointer;
      display: table !important;
      margin: 0 auto;
      &:hover, .hover {
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0 10px;

        &:before, &:after {
          content: '';
          display: block;
          width: 1000px;
          position: absolute;
          top: 0.73em;
          border-top: 1px solid red;
        }

        &:before {
          right: 100%;
        }
        &:after {
          left: 100%;
        }
      }
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
