<app-intrusive-loading [loading]="loading"></app-intrusive-loading>
<div class="header">
  <div class="row text-true-words">
    <div class="col" align="right">
      <img src="../../../assets/images/icons/usd-coin.svg" style="height: 25px">
      Créditos disponibles: <strong counto [step]="100" [countTo]="_credits" [countFrom]="_fromCredits" [duration]="4"
                                     (countoChange)="countTo = $event">{{countTo}}</strong>
      <div class="dropdown"><span>{{username ? username : email}}</span>
        <div class="dropdown-content">
          <p (click)="onChangeSelectedScreen('activity')"><span>Actividad</span></p>
          <p (click)="onOpenCreditsRequestModal()"><span>Solicitar Creditos</span></p>
          <p (click)="onLogout()">
            <span>Cerrar Sesión</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-true-words text-white justify-content-around"
       *ngIf="selectedScreen !== 'activity'">
    <div class="col-3">
      <button class="btn btn-lg btn-header"
              [ngClass]="{active: selectedScreen === 'verify-image'}" (click)="onChangeSelectedScreen('verify-image')">
        <strong>VERIFICAR</strong> FOTO
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-lg btn-header"
              [ngClass]="{active: selectedScreen === 'verify-text'}" (click)="onChangeSelectedScreen('verify-text')">
        <strong>VERIFICAR</strong> TEXTO
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-lg btn-header" [ngClass]="{active: selectedScreen === 'publish-news'}"
              (click)="onChangeSelectedScreen('publish-news')">
        <strong>PUBLICAR</strong></button>
    </div>
  </div>
  <div class="row bg-true-words text-white align-content-between justify-content-between"
       *ngIf="selectedScreen === 'activity'">
    <fa-icon [icon]="back" size="2x" class="m-1 pointer" (click)="onGoBack()"></fa-icon>
    <h6 class="my-auto">Actividad</h6>
    <span></span>
  </div>
</div>
<div class="content">
  <ng-container *ngTemplateOutlet="templateOutlet; context: context"></ng-container>
</div>
